.faq-small-card {
  display: flex;
  justify-content: space-between;
  background-color: rgb(249, 226, 227);
  margin: 10px 0;
  padding: 30px 15px;
  border-radius: 20px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  width: 100%;
}

@media (max-width: 990px) {
  .faq-small-card {
    background: linear-gradient(
        180deg,
        #e50f1c -38.3%,
        rgba(146, 0, 0, 0.89) 198.94%
      ),
      #ffffff;
    color: #fff;
  }
}
