.creators-parent {
  position: relative;
  padding: 40px 0;
}
.creators-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}

.creators-header h2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  max-width: 80%;
}

.creators-parent .swiper,
swiper-container {
  width: 100%;
}

.creators-parent .slideContainer {
  overflow: hidden;
  border: 1px solid red;
  min-height: 50px;
}

.creators-parent .slidesHolder {
  display: flex;
  flex-wrap: no-wrap;
  transition-timing-function: ease-in;
  height: auto;
}

.creators-parent .swiper-slide,
swiper-slide {
  flex-shrink: 0;
  width: 100%;
  position: relative;
  transition-property: transform;
  display: block;
}
.creators-parent .creator-card-parent {
  width: 360px;
  margin: 100px auto 0px auto;
}

@media (max-width: 990px) {
  .creators-parent .creator-card-parent {
    width: 90%;
    background-color: #f6d8d9;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    height: 80%;
    margin: 80px auto 0 auto;
    padding: 0 35px;
  }

  .creators-parent .creators-header h2 {
    font-size: 18px;
  }
  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-family: swiper-icons;
    font-size: 25px;
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
  }
}

@media (max-width: 600px) {
  .creators-parent .creator-card-parent {
    width: 100%;
  }
  .creator-card-parent .img-card-container {
    height: 100px;
  }
  .creator-card-parent .img-card-container img {
    width: 100px;
    height: 100px;
    transform: translate(-50%, 0%);
  }
  .creator-card-parent h5 {
    font-weight: 600;
    font-size: 22px;
  }
  .creator-card-parent .card-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    flex-direction: column;
  }
  .creator-card-parent .card-details .details-right {
    width: 100%;
    border-bottom: 1px solid #ba9393;
    border-right: none;
    padding-bottom: 15px;
    text-align: center;
  }
  .creator-card-parent .card-details .details-right p:first-child {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 7px;
  }

  .creator-card-parent .card-details .details-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 15px;
  }

  .creator-card-parent .card-details .details-left p:first-child {
    font-size: 18px;
  }
}
